<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.ioctl.nfcncihost"
    android:installLocation="internalOnly"
    tools:ignore="ProtectedPermissions,ScopedStorage">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="false" />

    <application
        android:name=".procedure.BaseApplicationDelegate"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:directBootAware="false"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/cfg_network_security"
        android:requestRawExternalStorageAccess="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDefault"
        android:usesNonSdkApi="true"
        tools:targetApi="s">

        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".activity.MainUiFragmentActivity"
            android:exported="true"
            android:theme="@style/Theme.AppDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ui.startup.TransientInitActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.MipmapGenActivity"
            android:exported="true" />

        <service
            android:name=".service.CardEmuCtrlSvc"
            android:exported="true"
            android:label="@string/name_emu_pwm_ctrl_svc"
            android:permission="android.permission.BIND_CONTROLS">
            <intent-filter>
                <action android:name="android.service.controls.ControlsProviderService" />
            </intent-filter>
        </service>

        <service
            android:name=".service.NfcControllerManagerService"
            android:exported="false" />

        <service
            android:name=".service.NfcCoreService"
            android:exported="false" />

        <service
            android:name=".service.NfcCardEmuFgSvc"
            android:exported="false"
            android:label="@string/name_nfc_emu_svc" />

        <receiver
            android:name=".service.BootCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />
    </application>
</manifest>
